.caixa{
    background-color: #35B8AEff;
}

.titulo{
   color: white !important;
   font-weight: bold !important;
}

.botao{
    background-color: #FEBF45ff !important;
}

.postagens{
    background-color: white;
}