.caixa{
    background-color: #FEBF45ff;
}

.titulo{
   color: white !important;
   font-weight: bold !important;
}

.botao{
    background-color: white !important;
}

.postagens{
    background-color: #35B8AEff;
    
}